BattleTank/Content/_4K_ROCKS/Rock16_nrm.uasset
BattleTank/Content/_4K_ROCKS/Rock16_col.uasset
BattleTank/Content/_4K_ROCKS/Rock16_AO.uasset
BattleTank/Content/_4K_Ground03/Ground03_rgh.uasset
BattleTank/Content/_4K_Ground03/Ground03_nrm.uasset
BattleTank/Content/\[4K\]Ground03/Ground03_rgh.jpg
BattleTank/Content/\[4K\]Ground03/Ground03_nrm.jpg
BattleTank/Content/\[4K\]Ground03/Ground03_disp.jpg
BattleTank/Content/_4K_Ground03/Ground03_disp.uasset
BattleTank/Content/_4K_Ground03/Ground03_col.uasset
BattleTank/Content/\[4K\]Ground03/Ground03_col.jpg
BattleTank/Content/_4K_ROCKS/Rock16_disp.uasset
BattleTank/Content/_4K_ROCKS/Rock16_rgh.uasset
